In [1]:
import pandas as pd
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
import numpy as np

In [2]:
OPENAI_API_KEY = "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"
llm = OpenAI(api_token=OPENAI_API_KEY)

In [3]:
sales_data = pd.read_csv('Sales_data.csv')
sales_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,147268,Wired Headphones,1,11.99,1/1/2019 3:07,"9 Lake St, New York City, NY 10001"
1,148041,USB-C Charging Cable,1,11.95,1/1/2019 3:40,"760 Church St, San Francisco, CA 94016"
2,149343,Apple Airpods Headphones,1,150.00,1/1/2019 4:56,"735 5th St, New York City, NY 10001"
3,149964,AAA Batteries (4-pack),1,2.99,1/1/2019 5:53,"75 Jackson St, Dallas, TX 75001"
4,149350,USB-C Charging Cable,2,11.95,1/1/2019 6:03,"943 2nd St, Atlanta, GA 30301"
...,...,...,...,...,...,...
185945,297481,AA Batteries (4-pack),1,3.84,12/19/2031 23:42,"82 Hill St, Dallas, TX 75001"
185946,298406,AAA Batteries (4-pack),2,2.99,12/19/2031 23:42,"30 Elm St, San Francisco, CA 94016"
185947,317048,AAA Batteries (4-pack),2,2.99,12/19/2031 23:45,"743 Adams St, San Francisco, CA 94016"
185948,309773,AAA Batteries (4-pack),1,2.99,12/19/2031 23:52,"60 Hickory St, Los Angeles, CA 90001"
185949,297674,AAA Batteries (4-pack),1,2.99,12/19/2031 23:53,"425 Lake St, Portland, OR 97035"

In [4]:
pandas_ai = PandasAI(llm)

In [5]:
df1 = pandas_ai.run(sales_data, prompt='''
give me a dataframe that contains the products above Price 99.99
''', is_conversational_answer=False)

You exceeded your current quota, please check your plan and billing details.

In [6]:
df1

'Unfortunately, I was not able to answer your question, because of the following error:\n\nYou exceeded your current quota, please check your plan and billing details.\n'