In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sales_data = pd.read_csv('sales_2019.csv')
sales_data = sales_data.rename(columns={'Order ID' : 'Order_ID', 'Price Each' : 'Price', 'Order Date' : 'Date',
                                'Quantity Ordered' : 'Quantity', 'Purchase Address' : 'Purchase_Address'})

sales_data['Date'] = pd.to_datetime(sales_data['Date']).dt.date
sales_data['City'] = sales_data['Purchase_Address'].str.split(',').str[1].str.strip()
sales_data = sales_data.drop(columns='Purchase_Address')
sales_data

,Order_ID,Product,Quantity,Price,Date,City
0,147663,Lightning Charging Cable,1,14.950000,2019-01-01,Boston
1,145212,Lightning Charging Cable,1,14.950000,2019-01-01,Dallas
2,147309,Macbook Pro Laptop,1,1700.000000,2019-01-01,Dallas
3,146442,USB-C Charging Cable,1,11.950000,2019-01-01,Los Angeles
4,148987,AA Batteries (4-pack),1,3.840000,2019-01-01,Atlanta
...,...,...,...,...,...,...
185945,304165,AAA Batteries (4-pack),1,2.990000,2019-12-20,Portland
185946,299125,USB-C Charging Cable,1,11.950000,2019-12-20,New York City
185947,305840,Bose SoundSport Headphones,1,99.989998,2019-12-20,San Francisco
185948,300519,Bose SoundSport Headphones,1,99.989998,2019-12-20,New York City
185949,300519,Lightning Charging Cable,1,14.950000,2019-12-20,New York City

In [3]:
sales_data.to_csv('cleaned_data.csv', index=False)